# Python

Python is an interpreted, user-friendly, object-oriented, interactive, high level, platform-independent programming language.

Invented by Guido Van Rossum (Netherlands).
Nomenclature came from his popular television show "Monty Python's flying circus"

## Striking features of Python:

1. No need to declare variables (auto type casting)
2. No statement terminator (e.g. ;)
3. No curly braces in condition checking or looping constructs
4. Emphasises a lot on indentation
5. Same functionaility can be achieved in many different ways.
6. Condition/Looping constructs end with colon (:)

## Python Learning Tools
1. IDLE
2. Google Colab
3. Jupyter notebook (Mostly used for Data Science)
4. Sublime Text 
5. PyCharm
6. Visual Studio

In [ ]:
print("Hello World")

Hello World

## Python Keywords
(Reserved words which cant be used as variable names)
1. if
2. else
3. and
4. or
5. exec
6. finally
7. try
8. catch
9. for
10. while
11. continue
12. break
13. pass
14. yield
15. with
16. import
17. def
18. class
19. raise
20. print
21. elif
22. assert
23. global
etc.

In [ ]:
if (True):
  for j in range(1,5):
    if 2 < 1:
      ...
    else:
      ...
else:
  print("Not the right way to interpret!")
  print("1")

I am always true.

## Accepting user input

In [ ]:
n = float(input("Enter a number:"))
print(f"Thanks! You entered : {n} & its datatype is {type(n)} and is stored in : {id(n)}")

Enter a number:100
Thanks! You entered : 100 & its datatype is <class 'str'> and is stored in : 139767619045168

In [ ]:
x = 100
y = 12.34
print("x = %d y = %f" %(x,y))

x = 100 y = 12.340000

In [ ]:
x = 1
y = 2
print("x = ",x, " y = ", y)

x =  1  y= 2

## Variable Types

Basic data types:
1. Numbers
2. String
3. Tuple
4. List
5. Dictionary

In [ ]:
n = 1001 # Integer
p = 3.1415 #Float/Decimal
name = 'Dipen' #String
val = True #Boolean

print(f"n : {n} Type : {type(n)}")
print(f"p : {p} Type : {type(p)}")
print(f"name : {name} Type : {type(name)}")
print(f"val : {val} Type : {type(val)}")

n : 1001 Type : <class 'int'>
p : 3.1415 Type : <class 'float'>
name : Dipen Type : <class 'str'>
val : True Type : <class 'bool'>

In [ ]:
c1 = 2+3j
c2 = -3-5j
print(c1 + c2)

(-1-2j)

In [ ]:
light_speed = 3e8
light_speed

300000000.0

In [ ]:
x = 2**140
type(x)

int

In [ ]:
name = 'Kalyani'
name = "Kalyani"
name = '''Kalyani'''
name = """Kalyani"""

sentence = 'India\'s currency is INR'
print(sentence)

India's currency is INR

In [ ]:
poem = '''Miles to go before
I sleep'''

print(poem)

Miles to go before
I sleep

### Multiple Assignment

In [ ]:
x = y = z = 100
print(x, y, z)

100 100 100

In [ ]:
n, p, name = 'India', 2.7182818284590, 555
print(name, p)

555 2.718281828459

### Tuple, List, Dictionary

Identification Sign:


* Tuple ()
* List []
* Dictionary {}

In [ ]:
planets =  ('Mer', 'Ven', 'Ear', 'Mars', 'Jup', 'Sat', 'Eur', 'Nep')

In [ ]:
planets

('Mer', 'Ven', 'Ear', 'Mars', 'Jup', 'Sat', 'Eur', 'Nep')

In [ ]:
cricketers = ['Virat', 'Suresh', 'Rohit', 'Rishabh']
cricketers

['Virat', 'Suresh', 'Rohit', 'Rishabh']

In [ ]:
capital = {'WB' : 'Kolkata', 'Bihar' : 'Patna', 'Jharkhand' : 'Ranchi', 'Punjab' : 'Chandigarh', 'Haryana' : 'Chandigarh' }

In [ ]:
capital

{'Bihar': 'Patna',
 'Haryana': 'Chandigarh',
 'Jharkhand': 'Ranchi',
 'Punjab': 'Chandigarh',
 'WB': 'Charnock City'}

In [ ]:
sentence = "Python is an interpreted high-level general-purpose programming language. Its design philosophy emphasizes code readability with its use of significant indentation. Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects"

In [ ]:
sentence.count('o')

18

In [ ]:
sentence.find('o')

4

In [ ]:
name = "Saptarishi"
name[::-1]

'ihsiratpaS'

In [ ]:
print(name[2])
print(name[3], name[4])

p
t a

In [ ]:
name[5:7]          # a<= x < b

'ri'

In [ ]:
name[-5:-1]

'rish'

In [ ]:
name * 5

'SaptarishiSaptarishiSaptarishiSaptarishiSaptarishi'

In [ ]:
name = "ramakanta kamar"
print(name.find('k'))
print(name.rfind('k'))
print(name[name.rfind('k')])

print(name[name.rfind('k') - len(name)])

4
10
k
k

In [ ]:
outcome = [2,6,4,3,1,2,1,6,5,4,3,2,1]
set(outcome)

{1, 2, 3, 4, 5, 6}

In [ ]:
a = {1 : 'val1', 2:'val2', 3:'val3', 4:'val1'}
b = {1,2,3,'val1', 'val2','val3',2,3,1,2,2,3}
print(a, "==>", type(a))
print(b, "==>", type(b))

{1: 'val1', 2: 'val2', 3: 'val3', 4: 'val1'} ==> <class 'dict'>
{1, 2, 3, 'val1', 'val3', 'val2'} ==> <class 'set'>

In [ ]:
vowels = {'a', 'e', 'i', 'o', 'u'}
print(vowels)
print(type(vowels))

{'a', 'u', 'e', 'i', 'o'}
<class 'set'>

## Datatype conversions

1. int()
2. float()
3. complex()
4. str()
5. tuple()
6. list()
7. dict()
8. set()
9. ord() # Converts a character to an integer
10. chr() # Converts an integer to a character
11. oct()
12. hex()

In [ ]:
x = 123
print(f"{x} : {type(x)}")
x = float(x)
print(f"{x} : {type(x)}")

123 : <class 'int'>
123.0 : <class 'float'>

In [ ]:
x = 123.0
print(f"{x} : {type(x)}")
x = int(x)
print(f"{x} : {type(x)}")

123.0 : <class 'float'>
123 : <class 'int'>

In [ ]:
x = 123.95478563464
print(f"{x} : {type(x)}")
x = int(x)
print(f"{x} : {type(x)}")

123.95478563464 : <class 'float'>
123 : <class 'int'>

In [ ]:
x = 12
complex(x)

(12+0j)

In [ ]:
x = [1,2,3]
y = tuple(x)
print(y, type(y))

(1, 2, 3) <class 'tuple'>

In [ ]:
x = (2,4,6,8)
print(x, type(x))
x = list(x)
x.append(10)
x = tuple(x)
print(x, type(x))

(2, 4, 6, 8) <class 'tuple'>
(2, 4, 6, 8, 10) <class 'tuple'>

In [ ]:
'''
A-Z : 65 - 90
a-z : 97 -122
0-9 : 48-57
'''
chr(2453)
chr(50)

'2'

In [ ]:
ord('a')

97

In [ ]:
ord('ржн')

2477

In [ ]:
chr(2477)

'ржн'

In [ ]:
hex(65535) #0-9,A,B,C,D,E,F

'0xffff'

In [ ]:
2**16 - 1

65535

In [ ]:
oct(79)

'0o117'

In [ ]:
p = 300
q = 300
print(id(p))
print(id(q))

139767453643504
139767453644144

In [ ]:
# During boot up, Python allocates memory for [-5 , 256]. For multiple declaration of the same value, 
# Python assigns the same memory address for space optimization within this number range
p = 20
q = 20
print(id(p))
print(id(q))

93904256633952
93904256633952

In [ ]:
'''Variable Declaration: 
city
CITY
cItY
_city
city_
_city_

statesoftheunion
STATESOFTHEUNION
statesOfTheUnion    # 1. Camel case
StatesOfTheUnion    # 2. Pascal Case
states_of_the_union # 3. Snake Case
'''

## Basic Operators

1. Arithmetic
2. Comparison
3. Assignment
4. Logical
5. Bitwise
6. Membership
7. Identity

### Arithmetic Operators

1. +
2. -
3. *
4. /
5. % (Modulo Remainder)
5. // (Floor Division)
6. ** (Exponent)

In [ ]:
a = 10
b = 3
print(a // b, a % b)

3 1

In [ ]:
a = 27
b = 4
a // b

6

In [ ]:
a = 19
b = 40
a ** b

1413006104539009638843035501053457425807904438071201

In [ ]:
2**63 - 1

9223372036854775807

In [ ]:
a = 10
#a = -a
print(-a)

-10

## Comparison operator

1. ==
2. !=
3. >
4. <
5. >=
6. <=

## Assignment Operator

1. =
2. +=
3. -=
4. *=
5. /=
6.%=
7. //=
8. **=

In [ ]:
a = 15
a /= 5    # a = a / 5
a

3.0

## Bitwise Operator

1. & Binary AND
2. | BInary OR
3. ^ Binary XOR
4. ~ Ones complement
5. << n Left Shift (Multiply by 2^n)
6. > > n Right Shift (Divide by 2^n)

In [ ]:
a = 20
a << 2

80

In [ ]:
a = 20
a << 2

80

In [ ]:
a = 10
b = 22
print(a & b)
print(a | b)
print(a ^ b)

2
30
28

## Logical Operators

1. and # The operator returns TRUE when both operands are TRUE
2. or  # The operator returns TRUE when either of the operands is TRUE
3. not # Changes the boolean status of an expression

In [ ]:
x = 100
y = 251

if x >= 100 and not y < 250 :
  print("Met the condition!")
else:
  print("Missed it")

Met the condition!

## Membership Operator
1. in
2. not in

In [ ]:
fruits = ['Apple', 'Guava', 'Grapes']
print('Mango' not in fruits)
print('Apple' in fruits)

True
True

## identity Operator
(It ensures if the two operands are pointing to the same memory location i.e. it ensures if they are basically the same object or not.)
1. is
2. is not

In [ ]:
a = 'Saurav'
b = a
print(a is b)
print(id(a), id(b))

True
140239157051632 140239157051632

In [ ]:
a = "Saurav_Bhattacharyya; d,c.dv.c"
b = "Saurav_Bhattacharyya; d,c.dv.c"
print(a is not b)
print(id(a), id(b))

True
139767453572832 139767453572672

In [ ]:
a = "Saurav B"
b = a
print(a is b)
print(id(a), id(b))

True
139767522374768 139767522374768

In [ ]:
m = 2400
n = 2400
print(m == n)
print(m is n)

True
False

In [ ]:
x=1200
y=1200
print(id(x))
print(id(y))

140238992761584
140238992762480

In [ ]:
x = 1.1 + 2.2
# print(abs(x - 3.3) < 0.00000001)
print(x)

round(x,1) == 3.3

3.3000000000000003

True

## Decision Making/ Condition Evaluation

1. if
2. if - else
3. Nested if
(if - elif - elif - else)

# Ternary Operator
not (True)
not (1 < 10)
a + b
a - b
?:
Condition ? if True, what? : If False what?

x = (1 < 10) ? 5 : 50;

In [ ]:
x = 201
y = 1001
if (x == 200):
  print ("x is two hundreds")
  if y > 1000:
    print('y>1000')
  else:
    print('y<=1000')
else:
  print("x is something other than 200")
  if y > 1000:
    print('y>1000')
  else:
    print('y<=1000')

x is something other than 200
y>1000

In [ ]:
weather = 'rainy'
mood = 'Happy'

if weather == 'Bright':
  if mood == 'Happy':
    print("Time for a trip")
  else:
    print("Time for introspection")

In [ ]:
weather = 'Bright'
mood = 'Happy'

if weather == 'Bright' and mood == 'Happy':
  print('trip')
elif weather == 'Bright' and mood != 'Happy':
  print('introspection')
else:
  print('Something else')

trip

In [ ]:
weather = 'Bright'
mood = 'Somber'

if weather == 'Bright' and mood == 'Happy':
  print('trip')
else:
  if weather == 'Bright' and mood != 'Happy':
    print('introspection')
  else:
    print('Something else')

introspection

In [ ]:
line = 1
while line <= 10:
  numOfStars = 1
  while numOfStars <= line:
    print("* ", end = "")    
    numOfStars += 1
  print("")
  line += 1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
cities = ['Goa', 'Sikkim', 'Kolkata', 'Chennai', 'Bengaluru', 'Lonavala','Chandigarh', 'Pune', 'Guwahatizz']
max_len = -1

#max_city=['Chandigarh', 'Guwahatizz']

for city in cities:
  if len(city) > max_len:
    max_len = len(city)

print(f"Maximum length of the city = {max_len}")

for city in cities:
  if len(city) == max_len:
    print(city, end=" ")

Maximum length of the city = 10
Chandigarh Guwahatizz

In [ ]:
x = 0
y = 5

if x < y:
  print('Yes')

Yes

In [ ]:
if y < x:
  print('yes')

In [ ]:
if x:
  print('yes')

In [ ]:
if y:
  print('yes')

yes

In [ ]:
if True:
  print("I am true")

I am true

In [ ]:
if False:
  print('Alas I am lost!')

In [ ]:
if 'vas' in 'Sunil Gavaskar':
  print('Eureka! Found')
else:
  print("Better luck next time")

Eureka! Found

In [ ]:
if 'mango' in ['Apple', 'Mango', 'Guava']:
  print("Found")
else:
  print("Not present yet")

Not present yet

In [ ]:
if 'Pineapple' in ['Apple', 'Mango', 'Guava']:
  print("Fruits are delicious")
  print('One fruit a day keeps a doctor away')
  print('Health is wealth')
  x = 1
  if x < 10:
    print("hdgasjdgasj")
  else:
    print("653623625362553")
else:
  print("Some other fruits....")

print('Have a great day ahead.')

Some other fruits....
Have a great day ahead.

In [ ]:
name = "Yujvendra"
if name == "Rohit":
  print("Hi Rohit")
elif name == "Rishabh":
  print("Hi Rishabh")
elif name == "Virat":
  print("Hi Virat")
elif name == "Bhubaneswar":
  print("Hi Bhuvi")
else:
  print("Do I know you?")

Do I know you?

In [ ]:
names = {'Virat' : 'Hello Virat',
         'Rishabh' : 'Hello Rishabh',
         'Bhuvi' : 'Hola Bhuvi',
         'Rohit' : 'Hey Rohit'}

print(names.get('Rohit',"Do I know you yet?"))
print(names.get('Dhoni',"Do I know you yet?"))

Hey Rohit
Do I know you yet?

In [ ]:
if 'vas' in 'Sunil Gavaskar':
  print('Eureka! Found')
elif anUndefinedVariable:
  print("Wait that's undefined")
elif 1/0:
  print("This is not right to be done")

Eureka! Found

## Single line if statement

In [ ]:
if 'x' in 'Alexander': print("1"); print("2"); print("3")

1
2
3

In [ ]:
if 'z' in 'Alexander': print("1"); print("2"); print("3")
else: print("4"); print("5")

4
5

In [ ]:
if 'x' in 'Alexander': 
  print("1")
  print("2") 
  print("3")

1
2
3

In [ ]:
'''
if condition:
  True_block
else:
  False_block


True_block if condition else False_block
'''

raining = True
print("Lets go to the ", 'beach' if not raining else 'library')

Lets go to the  library

In [ ]:
marks = 36
if marks >= 34:
  print('Pass')
else:
  print('Fail')

Pass

In [ ]:
marks = 34
'Pass' if marks >= 34 else 'Fail'

'Pass'

In [ ]:
raining = True
print("Lets go to the ", 'beach' if not raining else 'library')

Lets go to the  library

In [ ]:
age = 20
status = 'minor' if age < 18 else 'adult'
print(status)

adult

In [ ]:
'Yay' if 'Javelin' in ['Gymnastics', 'Javelin', 'Badminton'] else 'Nay'

'Yay'

In [ ]:
a = 10
b = 20

temp = a 
a = b 
b = temp

print(f"a = {a} b = {b}")

a = 20 b = 10

In [ ]:
a = 1
b = 2
a, b  = 1, 2

In [ ]:
a = 15
b = 25
a, b = b, a
print(f"a = {a} b = {b}")

a = 25 b = 15

In [ ]:
x = 1234
y = 245

# Greater of the two

x if x > y else y

1234

## Looping Constructs
1. for
2. while

In [ ]:
n = 5
while n >= 0:
  print(n)
  n -= 1

5
4
3
2
1
0

In [ ]:
n = 0
while n > 0:
  n -= 1
  print(n)

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars']

while planets:
  print(f"Before pop : {planets}")
  print(planets.pop(-1))
  print(f"After pop : {planets}")
  print("")

Before pop : ['Mercury', 'Venus', 'Earth', 'Mars']
Mars
After pop : ['Mercury', 'Venus', 'Earth']

Before pop : ['Mercury', 'Venus', 'Earth']
Earth
After pop : ['Mercury', 'Venus']

Before pop : ['Mercury', 'Venus']
Venus
After pop : ['Mercury']

Before pop : ['Mercury']
Mercury
After pop : []

In [ ]:
n = 10
while n > 0:
  n -= 1
  if n == -1:
    break       # Takes the control out of the immediate loop
  print(n)
else:
  print('The loop has ended.')
print("Finally I am out of the loop")

9
8
7
6
5
4
3
2
1
0
The loop has ended.
Finally I am out of the loop

In [ ]:
n = 10
while n > 0:
  n -= 1
  if n == 8:
    continue       # Skips the condition and goes on for the next iteration. Skips the following lines of code after continue.
  print(n)
print('The loop has ended.')

9
7
6
5
4
3
2
1
0
The loop has ended.

In [ ]:
n = 10
while n > 0:
  n -= 1
  if n == 4:
    pass       # NOP - No Operation . Placeholder for future implementation
  print(n)
print('The loop has ended.')

9
8
7
6
5
4
3
2
1
0
The loop has ended.

In [ ]:
x = 10
if x < 100:
  pass
else:
  pass

In [ ]:
n = -5
while n > 0:
  print(n)
  n -= 1
else:
  print('The loop has ended or has not entered at all.')
  print('Happy coding!')

The loop has ended or has not entered at all.
Happy coding!

In [ ]:
festivals = ["Navaratri", 'Ganesh Chaturthi', 'Onam', 'Christmas', 'Durgotsav']

looking_for = "Durgotsav"

i = 0
while i < len(festivals):
  if festivals[i] == looking_for:
    print("Celebrated in our country")
    break
  i += 1
else:
  print(f"Unfortuantely {looking_for} is not celebrated in our country. Lets add that in :) ")

Celebrated in our country

In [ ]:
start = 1500
vend = 2700

while start <= vend:
  if start % 7 == 0 and start % 5 == 0:
    print(start, end = " ")
    start = start + 34
  start = start + 1

1505 1540 1575 1610 1645 1680 1715 1750 1785 1820 1855 1890 1925 1960 1995 2030 2065 2100 2135 2170 2205 2240 2275 2310 2345 2380 2415 2450 2485 2520 2555 2590 2625 2660 2695

## The for loop (Definite loop)

In [ ]:
''' Syntax of for
for i in <collection>
    <body of the loop>

for <var> in <iterable>:
   <statements>


C language
for (<init_block> ; <test_block> ; <increment_block>){

  <body of the loop>

}
'''

vowels = ['a','e','i','o','u']
for i in vowels:
  print(i)

a
e
i
o
u

In [ ]:
name = 'Dipen'

for i in name:
  print(i)

D
i
p
e
n

In [ ]:
name = ['Dipen', 'Kalyani']

for i in name:
  print(i)
  for j in i:
    print("\t", j)

Dipen
	 D
	 i
	 p
	 e
	 n
Kalyani
	 K
	 a
	 l
	 y
	 a
	 n
	 i

## Iterables

In [ ]:
iter('virat')

In [ ]:
iter(['Kanpur', 'Coonor', 'Coorg'])

In [ ]:
iter({2,3,1,4,5,6})

In [ ]:
iter('123')

In [ ]:
# Lazy iteration
cities = ['Kanpur', 'Coonor', 'Coorg']
cityScan = iter(cities)

print(cityScan)
print(next(cityScan))
print(next(cityScan))
print(next(cityScan))

<list_iterator object at 0x7f5bae8a8250>
Kanpur
Coonor
Coorg

In [ ]:
cities = ['Kanpur', 'Coonor', 'Coorg']
for i in cities:
  print(i)

Kanpur
Coonor
Coorg

In [ ]:
mydict = {'Kolkata' : 'WB', 'Chennai' : 'TN',  'Mumbai' : 'Maharashtra'}
mydict['Chennai']
mydict.values()

dict_values(['WB', 'TN', 'Maharashtra'])

In [ ]:
mydict = {'Kolkata' : 'WB', 'Chennai' : 'TN',  'Mumbai' : 'Maharashtra'}

for k in mydict:
  print(k, ' ', mydict[k])

Kolkata   WB
Chennai   TN
Mumbai   Maharashtra

In [ ]:
mydict = {'Kolkata' : 'WB', 'Chennai' : 'TN',  'Mumbai' : 'Maharashtra'}

for v in mydict.values():
  print(v)

WB
TN
Maharashtra

In [ ]:
for p, q in [(1,2), (3,4),(5,6)]:
  print(p, q)

1 2
3 4
5 6

In [ ]:
mydict = {'Kolkata' : 'WB', 'Chennai' : 'TN',  'Mumbai' : 'Maharashtra'}
mydict.items() # Convert a dict to a list of tuples

dict_items([('Kolkata', 'WB'), ('Chennai', 'TN'), ('Mumbai', 'Maharashtra')])

In [ ]:
for k, v in mydict.items():
  print(k, " ==> ", v)

Kolkata  ==>  WB
Chennai  ==>  TN
Mumbai  ==>  Maharashtra

In [ ]:
for i in (0,1,2,3,4):
  print(i)

0
1
2
3
4

In [ ]:
for j in 'Kalyani':
  print(j)

K
a
l
y
a
n
i

In [ ]:
for k in ['Kalyani', 'Gaurab', 'Kalyan']:
  print(k)

Kalyani
Gaurab
Kalyan

In [ ]:
for i in range(1,15,2):
  print(i)

1
3
5
7
9
11
13

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
for i in range(1,15,3):
  print(i)

1
4
7
10
13

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(-5,5))

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [ ]:
list(range(5,-5))

[]

In [ ]:
list(range(5,-5,-1))

[5, 4, 3, 2, 1, 0, -1, -2, -3, -4]

In [ ]:
list(range(-5,5,2))

[-5, -3, -1, 1, 3]

In [ ]:
cities = ['Kanpur', 'Coonor', 'Coorg']
for i in cities:
  print(i)
else:
  print('Completed iteration!')

Kanpur
Coonor
Coorg
Completed iteration!

In [ ]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

# Numbers

In [ ]:
x = 1
y = 2.3
z = 4 + 5j

In [ ]:
2**63 - 1

9223372036854775807

In [ ]:
len('9223372036854775807')

19

In [ ]:
x=2e30 # mantissa e exponent xey   x * 10^y
y=3e10
z = x*y
z

6e+40

In [ ]:
speedOfLight = 3e8
speedOfLight

300000000.0

In [ ]:
import math
2e400               # mantissa-e-exponent.   2 * 10^400
print(math.exp(1))  # e^5       e = 2.7182818284590
print(2.7182818284590**5)

2.718281828459045
148.4131591025642

In [ ]:
-2e400

-inf

In [ ]:
z

(4+5j)

In [ ]:
del x,y

In [ ]:
n = 0xAB2E
print(n)
type(n)

43822

int

## Number conversion functions:
1. int(x)
2. float(x)
3. complex(x)
4. complex(x,y)

## Functions
### Mathematical
1. abs()
2. ceil()
3. floor()
4. exp()
5. log(x)   # Natural log : to the base e
6. log10(x) # Common log : to the base 10
7. max()
8. min()
9. pow(x,y)
10. sqrt(x)
11. round(x[,n])

### Trigonometric
1. sin(x)
2. cos(x)
3. tan(x)
4. asin(x) [arcsin(x)]
5. acos(x)
6. atan(x)
7. atan2(x,y)
8. hypot(x,y)
9. radians()
10. degrees()

### Math constants
1. pi
2. e

In [ ]:
abs(-5)

5

In [ ]:
import math
print(math.ceil(12.001))
print(math.floor(12.998))

13
12

In [ ]:
x = [12, -1, 0,1,2,3.67,-4.55,5]
print(max(x))
print(min(x))

12
-4.55

In [ ]:
x = 12.374389
round(x,1)

12.4

In [ ]:
x = 2
y = 1/3
print(x**y)
print(math.pow(x,y))

1.2599210498948732
1.2599210498948732

In [ ]:
x = 2
y = 1.5
math.pow(x, y)

In [ ]:
math.log(math.e)

1.0

In [ ]:
math.log10(1)

0.0

In [ ]:
math.sin(60 * math.pi/180) # 180 degrees = pi radians

0.8660254037844386

In [ ]:
math.sin(math.radians(60))

0.8660254037844386

In [ ]:
math.degrees(math.asin(0.866025403784))

59.99999999994973

In [ ]:
math.sin(33 * math.pi/180)

0.5446390350150271

In [ ]:
math.hypot(3,4)
# math.hypot(5,12)

5.0

### Random Numbers

1. choice()
2. randrange([start,] stop[, step])
3. random()
4. shuffle()
5. uniform()

In [ ]:
import random 

x = [1,2,3,4,5,6]

print(f"Before shuufle : x = {x}")
random.shuffle(x)
print(f"After shuufle : x = {x}")
random.shuffle(x)
print(f"After shuufle : x = {x}")

print(random.choice(x))
print(random.choice(x))
print(random.choice(x))

Before shuufle : x = [1, 2, 3, 4, 5, 6]
After shuufle : x = [4, 2, 6, 5, 3, 1]
After shuufle : x = [3, 2, 6, 4, 1, 5]
4
6
3

In [ ]:
import functools
n = 50
functools.reduce(lambda x,y : x*y , range(1,n+1))

30414093201713378043612608166064768844377641568960512000000000000

In [ ]:
random.choice(range(20))

3

In [ ]:
random.randrange(1,100,2)

15

In [ ]:
random.randrange(0,100,2)

50

In [ ]:
random.randrange(20)

0

In [ ]:
random.random()

0.5570497394846375

In [ ]:
round(random.uniform(15,25),2)

19.72

In [ ]:
n = 18567432.1254378543
print(f"Value of n : ${n:,.2f}")

Value of n : $18,567,432.13

In [ ]:
n=0.7845
print(f"Value of n : {n:.2%}")

Value of n : 78.5%

In [ ]:
n = 1234567890
print(f"Value of  n : {n:,}")

Value of  n : 1,234,567,890

# String

## The concat operator (+)

In [ ]:
s = "foo"
t = "bar"
u = "qwe"
s + t + u

'foobarqwe'

## The repitition operator (*)

In [ ]:
5 * s

'foofoofoofoofoo'

In [ ]:
s * -5

''

## The membership operator (in)

In [ ]:
w = 'Caterpillar'
print('r' in w)
print('y' in w)
print('Cat' in w)
print('pill' in w)
print('cat' in w)

print('Dog' not in w)

True
False
True
True
False
True

## Inbuilt String functions

1. chr() : Integer to char
2. ord() : Char to int
3. len() : Length 
4. str() : Typecast to str

## String indexing

In [ ]:
x = 'Caterpillar'
x[2]

't'

In [ ]:
x[-1]

'r'

In [ ]:
x[len(x) - 1]

'r'

In [ ]:
x[-len(x)]

'C'

In [ ]:
x[:4]

'Cate'

In [ ]:
x[3:len(x)]

'erpillar'

In [ ]:
x[:4] + x[4:] == x

True

In [ ]:
y = x[:]
x is y
id(x), id(y)

(140520194323696, 140520194323696)

In [ ]:
p = [1,2]
q = p[:]
p is q
id(p), id(q)

(140520194304272, 140520194304272)

In [ ]:
x[2:2]

''

In [ ]:
x[4:2]

''

In [ ]:
x

'Caterpillar'

In [ ]:
x[-5:-2] == x[6:9]

True

In [ ]:
x[::2]  # Step or stride

'Ctrilr'

In [ ]:
x[4:2:-1]

're'

In [ ]:
x[5:0:-2]

'pea'

## Advanced functions:

1. replace()
2. capitalize()
3. title()
4. lower()
5. upper()
6. swapcase()
7. find()
8. index()
9. count()
10. startswith()
11. endswith()
12. rfind()
13. rindex()
14. isalnum()
15. isalpha()
16. isdigit()
17. islower()
18. isupper()
19. istitle()
20. center()
21. ljust()
22. rjust()
23. strip()
24. lstrip()
25. rstrip()
26. zfill()
27. split()
28. join()
29. rsplit()

In [ ]:
x = "The quick brown fox jumps over the lazy dog"

In [ ]:
x.replace('o', '*')

'The quick br*wn f*x jumps *ver the lazy d*g'

In [ ]:
x.replace('o', '#', 2)

'The quick br#wn f#x jumps over the lazy dog'

In [ ]:
y = 'Ramakanata Banick panicked at the sight of the squirrel'
y.replace('ck', '#$')

'Ramakanata Bani#$ pani#$ed at the sight of the squirrel'

In [ ]:
x = 'the times of india'
x.capitalize()

'The times of india'

In [ ]:
x.title()

'The Times Of India'

In [ ]:
y = 'tHe TimEs oF IndiA'
y.capitalize()

'The times of india'

In [ ]:
y.title()

'The Times Of India'

In [ ]:
y.lower()

'the times of india'

In [ ]:
x.upper()

'THE TIMES OF INDIA'

In [ ]:
y.swapcase()

'ThE tIMeS Of iNDIa'

In [ ]:
x

'the times of india'

In [ ]:
x.find('i') # x.find(substring, start, end)

5

In [ ]:
x.find('z')

-1

In [ ]:
x.find('i', 6,11)

-1

In [ ]:
x.find('i', 6)

13

In [ ]:
x.rfind('i')

16

In [ ]:
x.index('i')

5

In [ ]:
x.rindex('i',0,14)

13

In [ ]:
x.index('z')

ValueError: ignored

In [ ]:
x

'the times of india'

In [ ]:
x.count('i',0,10)

1

In [ ]:
x.startswith('th')

True

In [ ]:
x.endswith('india')

True

In [ ]:
y = 'Saptarshi Tarafdar'
y.rindex('r',0,13)

12

In [ ]:
'Passw0rd1!'.isalnum()

False

In [ ]:
'Passw0rd1'.isalnum()

True

In [ ]:
'Passw0rd1'.isalpha()

False

In [ ]:
'12'.isdigit()

True

In [ ]:
'the times of India'.islower()

False

In [ ]:
x = 'Kalyani Ray'
x.center(100,"*")

'********************************************Kalyani Ray*********************************************'

In [ ]:
x.title().center(100,'*')

'*****************************************The Times Of India*****************************************'

In [ ]:
y = x.title().center(100,'*')
y.strip('*')

'The Times Of India'

In [ ]:
'    91 869 773 1112    '.strip()

'91 869 773 1112'

In [ ]:
'    91 869 773 1112    '.lstrip()

'91 869 773 1112    '

In [ ]:
'    91 869 773 1112    '.rstrip()

'    91 869 773 1112'

In [ ]:
'123'.rjust(20,"*")

'*****************123'

In [ ]:
'8697731112'.rjust(20,'*')

'**********8697731112'

In [ ]:
'12345678'.zfill(10)

'0012345678'

In [ ]:
'198765'.zfill(10)

'0000198765'

In [ ]:
x = '8697731112;Kolkata;7044196833;Durgapur;2021-09-18 12:33:45 Hrs;1m 20s' # Call Details Record
values = x.split(';')
values

['8697731112',
 'Kolkata',
 '7044196833',
 'Durgapur',
 '2021-09-18 12:33:45 Hrs',
 '1m 20s']

In [ ]:
'|'.join(values)

'8697731112|Kolkata|7044196833|Durgapur|2021-09-18 12:33:45 Hrs|1m 20s'

In [ ]:
list('dipen')

['d', 'i', 'p', 'e', 'n']

In [ ]:
':'.join('dipen')

'd:i:p:e:n'

In [ ]:
s = 'foo'
t = 'bar'
print('barf' in 2 * ( s + t))

True

In [ ]:
print(ord('f'))  # a-z 97-122

102

In [ ]:
s='foobar'
s[0] + s[-1].     # fr
s[::5]            # fr
s[::-1][::-5].    # fr   raabof
s[::-5].          # rf.   <== Odd one out
s[::-1][-1] + s[len(s)-1]. # fr

In [ ]:
s[::-1][::-1] == s.    # T
s[:] == s              # T
s[::-1][::-1] is s     # F
s[:] is s              # T

In [ ]:
x = 100
y = 'Physics'
print(f"I scored a perfect {x} score in {y}")

I scored a perfect 100 score in Physics

In [ ]:
'####**#123**##*'.rstrip('*').strip('#').strip('*').strip('#')

'123'

# List

1. Ordered
2. Arbitrary objects
3. Accessed by index
4. Supports nesting upto arbitrary depth
5. Mutable
6. Dynamic

In [ ]:
a = ['Kol', 'Mum', 'Che', 'Del']
b = ['Mum', 'Kol', 'Che', 'Del']
a == b

False

In [ ]:
a is b

False

In [ ]:
[1,2,3,4] == [4,2,3,1]

False

In [ ]:
x = [12, 23.45, 'India', (1,2), True]

In [ ]:
int

int

In [ ]:
len

In [ ]:
def foo():
  pass

In [ ]:
y = [12, 23.4, True, 3+4j, len, foo, int]

In [ ]:
a=[]

In [ ]:
type(a)

list

In [ ]:
b = [100]
b

[100]

In [ ]:
c = list(range(100))
type(c)

list

In [ ]:
type(y[len(y) - 2])

function

In [ ]:
v = ['a','e','i','o','u']
v[0:3]

['a', 'e', 'i']

In [ ]:
v[-1]

'u'

In [ ]:
v[-2:]

['o', 'u']

In [ ]:
v[::2]

['a', 'i', 'u']

In [ ]:
v[::-1]

['u', 'o', 'i', 'e', 'a']

In [ ]:
v[4:0:-2]

['u', 'i']

In [ ]:
v[:] is v    # List Slicing

False

In [ ]:
'f' not in v

True

In [ ]:
'e' in v

True

## The concatenation (+) operator

In [ ]:
x = [1,3,5]
y = [11,33,55]
x = x + y

In [ ]:
x

[1, 3, 5, 11, 33, 55]

## The repitition / replication (*) operator

In [ ]:
x = [2,4,6]
x * 4

[2, 4, 6, 2, 4, 6, 2, 4, 6, 2, 4, 6]

## The len(), min(), max()

In [ ]:
x = [2,6,9,-1,4,5,21,89,234,-375,99]
print(len(x))
print(max(x))
print(min(x))

11
234
-375

In [ ]:
'''
A-Z 65 - 90
a-z 97 - 122
'''
x = ['Ashok', 'ram', 'Ramachandran', 'Venkat', 'Divya', 'Anand', 'Jyothi', 'arun', 'sandeep', 'Manas']
print(len(x))
x.sort()
print(x)
print(max(x))
print(min(x))

10
['Anand', 'Ashok', 'Divya', 'Jyothi', 'Manas', 'Ramachandran', 'Venkat', 'arun', 'ram', 'sandeep']
sandeep
Anand

In [ ]:
mat = [
      [[111,112,113], [121,122,123], [131,132,133]], 
      [[211,212,213], [221,222,223], [231,232,233]], 
      [[311,312,313], [321,322,323], [331,332,333]]
]
print(len(mat))
print(mat[0])
print(mat[0][1][2])

3
[[111, 112, 113], [121, 122, 123], [131, 132, 133]]
123

In [ ]:
x = ['a', 'bb', ['ccc', 'dd'], ['ee','f','ggg']]
x[3][1]

'f'

In [ ]:
x = ['qwe', 'asd', 'zxc', 'ert', 'sdf', 'cvb']
x[1] = 'lkj'
x[-1] = 'poi'

In [ ]:
x

['qwe', 'lkj', 'zxc', 'ert', 'sdf', 'poi']

In [ ]:
name = 'Saurav'
name = name[0] + 'o' + name[2:]
name

'Sourav'

In [ ]:
del x[2]
x

['qwe', 'lkj', 'ert', 'sdf', 'poi']

## Modifying multiple list values

In [ ]:
x

['qwe', 'lkj', 'ert', 'sdf', 'poi']

In [ ]:
x[1:3] = ['hgf', 'nbv']
x

['qwe', 'hgf', 'nbv', 'sdf', 'poi']

In [ ]:
y = ['Virat', 'Suresh', 'Rohit', 'MSD', 'Sachin', 'Saurav']
y[1:3] = ['Sreenath', 'Sashtri', 'Kumble', 'Amarnath']
y

['Virat',
 'Sreenath',
 'Sashtri',
 'Kumble',
 'Amarnath',
 'MSD',
 'Sachin',
 'Saurav']

In [ ]:
z = ['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'bar']
z[1:6] = ['zajj']
z

['foo', 'zajj', 'bar']

In [ ]:
a = [1,2,3]
a[1:2] = [2.1, 2.2, 2.3]
a

[1, 2.1, 2.2, 2.3, 3]

In [ ]:
a = [1,2,3]
a[1] = [2.1, 2.2, 2.3]
a

[1, [2.1, 2.2, 2.3], 3]

In [ ]:
a = [1,2,7,8]
a[2:2] = [3,4,5,6]
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a = [1,2,3,4,5,6,7]
a[1:5] = []
a

[1, 6, 7]

In [ ]:
a = [1,2,3,4,5,6,7]
del a[1:5] 
a

[1, 6, 7]

In [ ]:
a = [1,2,3]
b = ['One', 'Two', 'Three']

a += b           # a = a + b
a

[1, 2, 3, 'One', 'Two', 'Three']

## List functions:

1. append()
2. extend()
3. insert()
4. remove()
5. pop(index=-1)

In [ ]:
a = ['a', 'b']
x = a.append('c')
print(a)
print(x)

['a', 'b', 'c']
None

In [ ]:
a = ['a', 'b']
a.append([1,2,3])
a

['a', 'b', [1, 2, 3]]

In [ ]:
a = ['a', 'b']
a.extend([1,2,3])
a

['a', 'b', 1, 2, 3]

In [ ]:
a = ['a', 'b']
a += [[1,2,3]]
a

['a', 'b', [1, 2, 3]]

In [ ]:
a = ['a', 'b']
a += [1,2,3]
a

['a', 'b', 1, 2, 3]

In [ ]:
a = ['a', 's', 'd', 'f', 'h']
a.insert(4, 'g')
a

['a', 's', 'd', 'f', 'g', 'h']

In [ ]:
a = [1,3,8,5,7,8,9,11, 8]
8 in a

True

In [ ]:
a = ['India', 'Nepal', 'Bhutan', 'SL', 'Pak', 'Mayanmar']
print(a.pop())
print(a.pop())
print(a)

Mayanmar
Pak
['India', 'Nepal', 'Bhutan', 'SL']

In [ ]:
a = ['India', 'Nepal', 'Bhutan', 'SL', 'Pak', 'Mayanmar']
x = a.pop()
print(x)

Mayanmar

In [ ]:
a = ['India', 'Nepal', 'Bhutan', 'SL', 'Pak', 'Mayanmar']
print(a.pop(1))
print(a)

Nepal
['India', 'Bhutan', 'SL', 'Pak', 'Mayanmar']

# Tuple
Collection of immutable elements

In [ ]:
vowels = ('a', 'e', 'i', 'o', 'u')
vowels[0]

'a'

In [ ]:
vowels[-1]

'u'

In [ ]:
vowels[1:3]

('e', 'i')

In [ ]:
vowels[::2]

('a', 'i', 'u')

In [ ]:
vowels[::-1]

('u', 'o', 'i', 'e', 'a')

In [ ]:
a = (100,)
type(a)
a

(100,)

In [ ]:
p = 'foo'
q = 12
x = p, 3.1415, q
type(x)

tuple

In [ ]:
(first, second, third, fourth, fifth) = vowels # Unpacking a tuple

In [ ]:
fourth

'o'

In [ ]:
x = (1,2,3)

(a,b, c) = x
b

2

In [ ]:
a = b = 5
p, q = 6,6
r,s = 600, 600
print(id(p), id(q))
print(id(r), id(s))

94613213805216 94613213805216
140395702450640 140395702451760

In [ ]:
a, b = 1,2 
a, b = b, a
print(f'a = {a} b = {b}')

a = 2 b = 1

In [ ]:
(10,20) * 2

(10, 20, 10, 20)

In [ ]:
('a', 'b') + ('c', 'd')

('a', 'b', 'c', 'd')

In [ ]:
len((12,24,36,48))

4

In [ ]:
'Y' in ('Y','e', 'n')

True

In [ ]:
max(12,-3,45,56,99,88,74)

99

In [ ]:
tuple([1,2,3])

(1, 2, 3)

In [ ]:
'''
Search:
Linear
Binary

Sort:
Selection
Bubble
Insertion
'''

# Dictionary

1. Key - Value pair
2. Keys must be unique
3. What if we use duplicate keys? The successive key will keep overwriting the previous ones.
4. Dictionary key smust be hashable. In simple words, you cant use list and dictionary as the key of a dictionary.

In [ ]:
agri = {'Paddy' : 'WB', 'Tea' : 'Assam', 'Wheat' : 'Punjab'}

In [ ]:
type(agri)

dict

In [ ]:
agriculture = {'Paddy' : 'WB', 'Tea' : 'Assam', 'Wheat' : 'Punjab', 'Paddy' : 'TamilNadu'}

In [ ]:
agriculture

{'Paddy': 'TamilNadu', 'Tea': 'Assam', 'Wheat': 'Punjab'}

In [ ]:
agric = dict(Paddy = 'WB', Wheat = 'Punjab', Coffee = 'Karnataka')

In [ ]:
agric

{'Coffee': 'Karnataka', 'Paddy': 'WB', 'Wheat': 'Punjab'}

## Accessing, Updating & Deleting from a dictionary

In [ ]:
agriculture['Tea']

'Assam'

In [ ]:
agriculture['Tea'] = 'Sikkim'

In [ ]:
agriculture

{'Paddy': 'TamilNadu', 'Tea': 'Sikkim', 'Wheat': 'Punjab'}

In [ ]:
del agriculture['Wheat']

In [ ]:
agriculture

{'Paddy': 'TamilNadu', 'Tea': 'Sikkim'}

In [ ]:
del agriculture

In [ ]:
x = {}
x[1] = 'Uno'
x[2] = 'Dos'
x[3] = 'Tres'

x

{1: 'Uno', 2: 'Dos', 3: 'Tres'}

In [ ]:
x[1]

'Uno'

In [ ]:
'''
struct Address{
  char town[30];
  char postoffice[40];
  char ps[20];
  int pin[7];
};

struct Employee{
    char fname[40];
    char lname[40];
    Address addr[2];
}
'''

employee = {
                'dipsan01' : {
                    'fname' : 'Dipen',
                    'lname' : 'Sanyal',
                    'address' : [{
                        'town' : 'Barrackpore',
                        'po' : 'asdfg',
                        'pin' : 700123
                    },{
                        'town' : 'Kolkata',
                        'po' : 'ghghgh',
                        'pin' : 711046
                    } ],
                    'salary' : 1234567
                },
            'narbai01' : {
                    'fname' : 'Naren',
                    'lname' : 'Bairagya',
                    'address' : [{
                        'town' : 'qwerty',
                        'po' : 'asdfg',
                        'pin' : 700135
                    }],
                    'salary' : 998765
                }
            }

In [ ]:
employee

{'dipsan01': {'address': [{'pin': 700123,
    'po': 'asdfg',
    'town': 'Barrackpore'},
   {'pin': 711046, 'po': 'ghghgh', 'town': 'Kolkaya'}],
  'fname': 'Dipen',
  'lname': 'Sanyal',
  'salary': 1234567},
 'narbai01': {'address': [{'pin': 700135, 'po': 'asdfg', 'town': 'qwerty'}],
  'fname': 'Naren',
  'lname': 'Bairagya',
  'salary': 998765}}

In [ ]:
person = {}

In [ ]:
person['fname'] = 'S'
person['lname'] = 'B'
person['location'] = 'Kol'
person['pets'] = {'dogs' : ['Jimmy', 'Tommy'], 'cats' : ['Billy']}

In [ ]:
person

{'fname': 'S',
 'lname': 'B',
 'location': 'Kol',
 'pets': {'cats': ['Billy'], 'dogs': ['Jimmy', 'Tommy']}}

In [ ]:
person['pets']['dogs'][1]

'Tommy'

In [ ]:
y = {42 : 'a' , 12.34 : 'b' , 'xyz' : 'c', int : 13.45, float : 135, bool : 100}
y

{12.34: 'b', 42: 'a', bool: 100, float: 135, int: 13.45, 'xyz': 'c'}

In [ ]:
z = {}
z['one'] = 1
z[2] = 'two'
z['three'] = 'tres'
z[(4,5)] = 'four,five'
z

TypeError: ignored

In [ ]:
hash('1')

140071335197480698

In [ ]:
hash(int)

5909457093496

In [ ]:
hash([1,2])

TypeError: ignored

In [ ]:
hash(2)

2

In [ ]:
z = {['Dipen', 'Ramen'] : 'Bkp', ['Sathi', 'Jyothi'] : 'Hwh'}

TypeError: ignored

In [ ]:
hash((1,2))

3713081631934410656

In [ ]:
z = {
    (1,2) : 'One two', 
     3 : 'Three'
     }

z[(1,2)]

'One two'

## Operators & Function

In [ ]:
'Tea' in agri

True

In [ ]:
'Cotton' in agri

False

In [ ]:
 a = {'a' : 97, 'b' : 98, 'c' : 99, 'd' : 100}
 print(a)
 a.clear()
 print(a)

{'a': 97, 'b': 98, 'c': 99, 'd': 100}
{}

In [ ]:
 adict = {'a' : 97, 'b' : 98, 'c' : 99, 'd' : 100}
adict.get('c')

99

In [ ]:
adict.get('e' , 'Not in the dict yet')

'Not in the dict yet'

In [ ]:
list(adict.keys())

['a', 'b', 'c', 'd']

In [ ]:
adict.values()

dict_values([97, 98, 99, 100])

In [ ]:
adict.items() # Converts the dict to a list of tuples

dict_items([('a', 97), ('b', 98), ('c', 99), ('d', 100)])

In [ ]:
list(adict.items())[1][1]

98

In [ ]:
adict.pop('b')

98

In [ ]:
adict

{'a': 97, 'c': 99, 'd': 100}

In [ ]:
adict.popitem() # Removes the last item in the dictionary

('d', 100)

In [ ]:
adict

{'a': 97, 'c': 99}

In [ ]:
x = {'a' : 'alpha' , 'b' : 'beta', 'j' : 'xi', 'z' : 'zeta'}
y = {'a' : 'Alpha', 'd' : 'Delta' , 'e' : 'Epsilon', 'z' : 'Zeta'}
x.update(y)
x

{'a': 'Alpha',
 'b': 'beta',
 'd': 'Delta',
 'e': 'Epsilon',
 'j': 'xi',
 'z': 'Zeta'}

In [ ]:
x = ['India' , 'United States' , 'United Kingdom' , 'Japan']
y = ['INR', 'USD', 'GBP', 'YEN']

dict(zip(x,y))

{'India': 'INR',
 'Japan': 'YEN',
 'United Kingdom': 'GBP',
 'United States': 'USD'}

In [ ]:
capitals = {'India ' : 'Delhi', 'Bhutan' : 'Thimpu', 'Bangladesh' : 'Dhaka', 'Nepal' : 'Kathmandu', 'China' : 'Beijing'}
for k in capitals.keys():
  print(k,' ==> ', capitals[k])

India   ==>  Delhi
Bhutan  ==>  Thimpu
Bangladesh  ==>  Dhaka
Nepal  ==>  Kathmandu
China  ==>  Beijing

In [ ]:
numberOfPeople = 2

person = {}

for i in range(numberOfPeople):
  temp = []
  empid = input('EmpID: ')
  name = input('Name: ')
  pin = input('Pin: ')
  temp.append(name)
  temp.append(pin)

  person[empid] = temp

EmpID: 123
Name: Abc
Pin: 100
EmpID: 345
Name: Pqr
Pin: 200

In [ ]:
person

{'123': ['Abc', '100'], '345': ['Pqr', '200']}

# Sets
(Collection of well defined distinct elements)

In [ ]:
x = {1,2,3,4,5,6,3,2,4,1}
x

{1, 2, 3, 4, 5, 6}

In [ ]:
s = 'kanitkar'
set(s)

{'a', 'i', 'k', 'n', 'r', 't'}

In [ ]:
mango = {'sweet' , 'fleshy' , 'yellow', 'fruit', 'VitC'}
tomato = {'red', 'pulpy', 'sour', 'fruit', 'VitC'}

In [ ]:
mango | tomato

{'VitC', 'fleshy', 'fruit', 'pulpy', 'red', 'sour', 'sweet', 'yellow'}

In [ ]:
mango.union(tomato)

{'VitC', 'fleshy', 'fruit', 'pulpy', 'red', 'sour', 'sweet', 'yellow'}

In [ ]:
mango & tomato

{'VitC', 'fruit'}

In [ ]:
mango.intersection(tomato)

{'VitC', 'fruit'}

In [ ]:
mango - tomato

{'fleshy', 'sweet', 'yellow'}

In [ ]:
mango.difference(tomato)

{'fleshy', 'sweet', 'yellow'}

In [ ]:
tomato.difference(mango)

{'pulpy', 'red', 'sour'}

In [ ]:
tomato ^ mango

{'fleshy', 'pulpy', 'red', 'sour', 'sweet', 'yellow'}

In [ ]:
tomato.symmetric_difference(mango)

{'fleshy', 'pulpy', 'red', 'sour', 'sweet', 'yellow'}

In [ ]:
mango.isdisjoint(tomato)

False

In [ ]:
a = {1,2,3,7}
b = {8,9}
a.isdisjoint(b)

True

# Functions

## Defining a function & calling a function

In [ ]:
# Classic : <returnType> <functionName> (<argList>){}
# Python : def <functionName> (argList):
def printMyMsg(message, width):
  print("*" * width)
  print(message.center(width))
  print("*" * width)
  return 100,200
  
x, y = printMyMsg("Good morning everyone!",100)
print(x, y)

print()

printMyMsg("Como esta usted?", 80 )

****************************************************************************************************
                                       Good morning everyone!
****************************************************************************************************
100 200

********************************************************************************
                                Como esta usted?
********************************************************************************

(100, 200)

## Call/Pass by value or Call/Pass by reference

In [ ]:
def cbrDemoFunction(l):
  print("Within the function before change : " , l, " Address:" , id(l))
  l[1] = 100
  print("Within the function after change : " , l, " Address:" , id(l))
  return

mylist = [11, 22, 33, 44]
print(f"OTF : Before the function call : mylist : {mylist} and it was stored at {id(mylist)}")
demoFunction(mylist)
print(f"OTF : After the function call : mylist : {mylist} and it was stored at {id(mylist)}")

OTF : Before the function call : mylist : [11, 22, 33, 44] and it was stored at 140425517062016
Within the function before change :  [11, 22, 33, 44]  Address: 140425517062016
Within the function after change :  [11, 100, 33, 44]  Address: 140425517062016
OTF : After the function call : mylist : [11, 100, 33, 44] and it was stored at 140425517062016

In [ ]:
def cbrDemoFunction2(l):
  print("Inside the function before change : ", l, "Address : ", id(l))
  l = [1,2,3,4]
  print("Inside the function after change : ", l, "Address : ", id(l))
  return 

mylist = [11, 22, 33, 44]
print("Outside the function before call : ", mylist, "Address : ", id(mylist))
cbrDemoFunction2(mylist)
print("Outside the function after call : ", mylist, "Address : ", id(mylist))

Outside the function before call :  [11, 22, 33, 44] Address :  140425517064352
Inside the function before change :  [11, 22, 33, 44] Address :  140425517064352
Inside the function after change :  [1, 2, 3, 4] Address :  140425517049568
Outside the function after call :  [11, 22, 33, 44] Address :  140425517064352

In [ ]:
def changeMe(l):
  l[1] = 101
  print("Inside the func : ", l)
  return

myList = [2,4,6,8]
changeMe(myList[:])
print("Outside the func : ", myList)

Inside the func :  [2, 101, 6, 8]
Outside the func :  [2, 4, 6, 8]

In [ ]:
x = [18,36,54,72,90]
print(id(x))
print(id(x[:]))

140425517004912
140425517139040

## Arguments 
1. Required
2. Keyword
3. Default
4. Variable length


## 1. Required arguments

In [ ]:
def printMe(msg):
  print(msg)

printMe("Buenos dias!")

Buenos dias!

## 2. Keyword arguments

In [ ]:
def printMe(msg,width,fillcharr):
  print(msg.center(width, fillcharr))

printMe(width = 100, msg = "Buenos dias!", fillcharr = "*")
printMe(fillcharr = ".", width = 50, msg = "Hola!")

********************************************Buenos dias!********************************************
......................Hola!.......................

## 3. Default arguments

In [ ]:
def printMe(msg,width = 40,fillcharr = "~"):
  print(msg.center(width, fillcharr))

printMe("Buenos Noches! ")
printMe("Buenos Tardes", 60,"*")

Buenos Noches!
Buenos Tardes

## 4. Variable length Arguments

In [ ]:
def mySum(a, b, *c):
  # print("Inside mySum additional numbers apart from the basic two : ", c)
  d = a + b
  for i in c:
    d = d + i
  return d 

s = mySum(100,200)
print(f"Sum = {s}")

s = mySum(100,200,300)
print(f"Sum = {s}")


s = mySum(100,200,300,400,500)
print(f"Sum = {s}")

Sum = 300
Sum = 600
Sum = 1500

## Anonymous Function

In [ ]:
summation = lambda x , y : x + y
print(summation(1,2))
print(summation(10,20))

3
30

In [ ]:
substring = lambda x,y : x in y
print(substring('V', 'Virat'))
print(substring('T', 'Virat'))

True
False

In [ ]:
'Aura' in 'Saurav'

False

## The return statement

In [ ]:
def mySumDiff(arg1, arg2):
  total = arg1 + arg2
  difference = arg1 - arg2
  return total , difference

total, difference = mySumDiff(11, 22)
print(total, difference)

33 -11

## Scope of a variable
1. local
2. global
3. nonlocal

In [ ]:
total = 0

def mySum(arg1, arg2):
  total = arg1 + arg2 # total : Local variable
  return total

mySum(11, 22)
print(total) # references the global total variable

0

In [ ]:
total = 0

def mySum(arg1, arg2):
  global total # Forcing the function to refer to the global total variable
  total = arg1 + arg2

mySum(11, 22)
print(total)

33

In [ ]:
x = "global"

def outer():
  x = "local"
  def inner():
    nonlocal x # Used only in nested functions
    x = "nonlocal"
    print("inner : ", x)

  inner()
  print("outer : ", x)

outer()
print("External : ", x)

inner :  nonlocal
outer :  nonlocal
External :  global

In [ ]:
def Convert(string):
    li = list(string.split(" "))
    return li

x = Convert(input("Enter the numbers you want separated by space:"))
print(x)

Enter the numbers you want separated by space:12 23 45 67 44 33 19 101
['12', '23', '45', '67', '44', '33', '19', '101']

In [ ]:
x = "Kalyani|Ray|Bhattacharyya"
y = x.split("|")
print(y, type(y))

['Kalyani', 'Ray', 'Bhattacharyya'] <class 'list'>

# Modules & Packages

1. Functions
2. Modules  (A collection of constants, functions , classes)
3. Package
math
  1. math.pi
  2. math.e
  3. math.sin()
  4. math.asin()
  5. math.sinh() (e^x + e^-x)/2
  ....
date
  1. Date
  2. DateTime
  3. Time
  4. TimeDelta

## Advantages
1. Simplicity
2. Maintainability
3. Reusability
4. Scoping

In [ ]:
'''
mod.py
'''
country = "India"
sentenceAZ = "The quick brown fox jumps over the lazy dog"
aRandomList = [1,1,2,3,5,8]

def foo(arg):
	print(f"argument = {arg}")

In [ ]:
'''
myappln.py
'''
import mod
print(mod.country)
print(mod.sentenceAZ)
mod.foo("Friday")
mod.foo("Saturday")

## The module search path

1. Current directory
2. PYTHONPATH environment variable
3. Installation dependent list of directories

In [ ]:
import sys
sys.path.append(r'/Users/sauravbhattacharyya/Desktop/moduleDemo/')

import mod
print(mod.country)
print(mod.sentenceAZ)
mod.foo("Friday")
mod.foo("Saturday")

In [ ]:
import sys
sys.path.append(r'/Users/sauravbhattacharyya/Desktop/moduleDemo/mymodules/')


from mod1 import sentenceAZ as allchars,country as dreamdestination
print(dreamdestination)
print(allchars)

import mod1 as mydemomodule
print(mydemomodule.aRandomList)

In [ ]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'aRandomList',
 'country',
 'exit',
 'foo',
 'get_ipython',
 'quit',
 'sentenceAZ']

In [ ]:
citiesOfUSA = ['Irvine', 'San Diego', 'St Louis', 'Chicago']

In [ ]:
dir()

['In',
 'Out',
 '_',
 '_4',
 '_6',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'aRandomList',
 'country',
 'exit',
 'foo',
 'get_ipython',
 'quit',
 'sentenceAZ']

In [ ]:
del citiesOfUSA

In [ ]:
import mod
print(dir())

print(mod.country)

In [ ]:
from mod import *
print(dir())

print(country)

In [ ]:
country = "India"
sentenceAZ = "The quick brown fox jumps over the lazy dog"
aRandomList = [1,1,2,3,5,8]

def foo(arg):
	print(f"argument = {arg}")

def bar(arg1, arg2):
	print(f"arg1 = {arg1} arg2 = {arg2}")

def fibo(n):
	a, b = 0, 1
	for i in range(n):
		c = a+b 
		print(c)
		a,b = b,c


if __name__ == '__main__':
	bar("M S", "Dhoni")
	fibo(3)

# Package
Collection of modules

In [ ]:
'''
pkgdemo.mod1
'''
def foo1():
	print('[mod1] foo1')

def foo2():
	print('[mod1] foo2')



'''
pkgdemo.mod2
'''
def bar1():
	print('[mod2] bar_1')


def bar2():
	print('[mod2] bar_2')

In [ ]:
import packagedemo.mod1, packagedemo.mod2

packagedemo.mod1.foo()
packagedemo.mod2.bar()

In [ ]:
from packagedemo.mod1 import foo1, foo2

foo1()
foo2()

# Date & Time

In [ ]:
import datetime
time_now = datetime.datetime.now()
print(time_now)

2021-10-23 12:50:36.628711

In [ ]:
import datetime
date_today = datetime.date.today()
print(date_today)

2021-10-23

In [ ]:
import datetime
print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

Commonly used classes in the datetime module:
1. date
2. time
3. datetime
4. timedelta

## datetime.date

In [ ]:
import datetime
d = datetime.date(2021,10,23)
print(d, type(d))

2021-10-23 <class 'datetime.date'>

In [ ]:
from datetime import date
today = date.today()
print("Today\'s date : ",today)

Today's date :  2021-10-23

In [ ]:
from datetime import date
the_date = date.fromtimestamp(565016189)
print("Date = ", the_date)

Date =  1987-11-27

In [ ]:
from datetime import date
today = date.today()
print("Today\'s date : ",today)
print(f"Year : {today.year}")
print(f"Day : {today.day}")
print(f"Month : {today.month}")

Today's date :  2021-10-23
Year : 2021
Day : 23
Month : 10

In [ ]:
# 23rd Sept 2021 12:34:47
# 23rd SeptEMBER 2021 12:34:47
# 23rd Sept, 2021 12:34:47
# 23rd Sept 2021 , 12:34:47

## datetime.time

In [ ]:
from datetime import time
a = time()
print(f"a = {a}")

b = time(8,10,15)
print(f"b = {b}")

c = time(hour=11, second = 25, minute = 37)
print(c)

d = time(2,3,4,123457)
print(d)

a = 00:00:00
b = 08:10:15
11:37:25
02:03:04.123457

In [ ]:
a = time(8,10,15,123)
print(a.hour, a.minute, a.second, a.microsecond)
print(a)

8 10 15 123
08:10:15.000123

## datetime.datetime

In [ ]:
from datetime import datetime 
a = datetime(2021,2,15,5,6,7)
print(a)
print(a.minute,a.month)

2021-02-15 05:06:07
6 2

## datetime.timedelta

In [ ]:
from datetime import date, datetime
t1 = date(2021,1,26)
t2 = date(2021,8,15)
print("Difference of days between Republic & Independence day = ", t2 - t1, type(t2-t1))

dt1 = datetime(2021,2,14,1,2,3)
dt2 = datetime.now()
print(f"It has been {dt2 - dt1} since Valentines day")

Difference of days between Republic & Independence day =  201 days, 0:00:00 <class 'datetime.timedelta'>
It has been 251 days, 12:18:00.768232 since Valentines day

In [ ]:
from datetime import timedelta

t1 = timedelta(weeks=2, days = 5, hours = 1, minutes= 2)
t2 = timedelta(weeks = 1, days = 6, hours = 15, seconds = 12)
t3 = (t2 - t1)

print(abs(t3))

print(t1.total_seconds())

-6 days, 13:58:12
1645320.0

## strftime() : Converts datetime to string

1. %Y 2021
2. %m 01,02,..,12
3. %d 01,02,..,31
4. %H 00,01,..,23
5. %M 00,01,..,59
6. %S 00,01,..,59
7. %B September
8. %b Sept

In [ ]:
from datetime import datetime

now = datetime.now()
print(now)

# mm/dd/yyyy, h:m:s
us_format = now.strftime("%m/%d/%Y, %H:%M:%S")
print(us_format)

2021-10-23 13:30:01.954669
10/23/2021, 13:30:01 October Oct

## strptime : Converts a date string to a datetime object

In [ ]:
from datetime import datetime
datetime_string = "26 Jan, 2021"
date_object = datetime.strptime(datetime_string, "%d %b, %Y")
print(date_object, type(date_object))

print(date_object.strftime("%Y-%m-%d"))

2021-01-26 00:00:00 <class 'datetime.datetime'>
2021-01-26

## Regular Expression

**Examples:**

1. Soumik Roy
Gourab Ray
Saumik Ray
Gaurav Roy
Gaurabh Ray
  => <space>R[o|a]y
2. A Agarwal
B Agrawal
C Agarwala
D Aggarwal
  => Agg*[ar][ar]wala*
WB 12 AW 9601 
WB 15 B 9567
BH
OD
AS
JH
  => [ABJOW][BDHSW] [0-9][0-9] [A-Z][A-Z]* [0-9][0-9][0-9][0-9]

In [ ]:
s = "Caterpillar"
s.find('Cat')

0

In [ ]:
s.index('Cat')

0

In [ ]:
'Pill' in s

False

# List Comprehension

1. For loop
2. Filter
3. Map
4. Nested loops
5. Nested list

## Find square of all nos from 1 to 10

In [ ]:
squares = []

for i in range(1,11):
  squares.append(i**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Find all odd numbers from 1 to 10

In [ ]:
odds = []

for i in range(1,11):
  if i % 2 != 0:
    odds.append(i)

print(odds)

[1, 3, 5, 7, 9]

In [ ]:
max_number = int(input('Enter the last number'))
odds = [i for i in range(1,max_number + 1) if i%2 != 0]
print(odds)

Enter the last number30
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

## Finding the people who are more han 25 years

In [ ]:
users = [
         {'name' : 'Dipen', 'age' : 20},
         {'name' : 'Saptarshi', 'age' : 26},
         {'name' : 'Naren', 'age' : 25}
]

names = []
for user in users:
  if user['age'] >= 25:
    names.append(user['name'])

print(names)

['Saptarshi', 'Naren']

In [ ]:
[user['name'] for user in users if user['age']>=25]

['Saptarshi', 'Naren']

## Identity Matrix

In [ ]:
matrix = []

rows = cols = 3

for r_index in range(0, rows):
  row = []
  for c_index in range(0, cols):
    if r_index == c_index:
      row.append(1)
    else:
      row.append(0)
  matrix.append(row)

print(matrix)

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [ ]:
[[1 if r_index == c_index else 0 for c_index in range(0, cols)] for r_index in range(0, rows)]

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

# Dictionary Comprehension

In [ ]:
x = {i : i**2 for i in range(1,11)}
#x[30] 

#x.get(30)

x.get(30,"Better luck next time")

'Better luck next time'

## Frequency of words

In [ ]:
sentence = "Ram is a good boy. Sita is a good girl."
word_count = {}

for word in sentence.split(" "):
  word_count[word] = word_count.get(word, 0) + 1

print(word_count)

{'Ram': 1, 'is': 2, 'a': 2, 'good': 2, 'boy.': 1, 'Sita': 1, 'girl.': 1}

In [ ]:
{word : sentence.split().count(word) for word in set(sentence.split())}

{'Ram': 1, 'Sita': 1, 'a': 2, 'boy.': 1, 'girl.': 1, 'good': 2, 'is': 2}

In [ ]:
sentence.split().count('is')

2

## Map, Filter & Reduce

1. map(function, sequence)
2. filter(function, sequence)

In [ ]:
def calculateSquare(num):
  return num**2


print(calculateSquare(10))

100

In [ ]:
list(map(calculateSquare, range(1,11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
cs = lambda num : num**2 
cs(10)

100

In [ ]:
prod = lambda x, y : x*y 
prod(4,5)

20

In [ ]:
list(map(lambda x : x**3,range(1,11)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
# C/5 = (F-32)/9
celciusTemps = [24, -10, 33, 40, 28, -40]

fahrenheitTemps = list(map(lambda c : 9.0 * c/5 + 32 ,celciusTemps))
print(fahrenheitTemps)

[75.2, 14.0, 91.4, 104.0, 82.4, -40.0]

In [ ]:
a = [1,2,3,4]
b = [17, 10, 8, 15]
c = [-1, -3, 0, 8]

list(map(lambda x,y,z : x + y + z,a,b,c))

[17, 9, 11, 27]

In [ ]:
list(map(lambda x : x+5,[1,10,100]))

[6, 15, 105]

### Finding all the even numbers

In [ ]:
list(filter(lambda x : x % 2 == 0 ,range(1,11)))

[2, 4, 6, 8, 10]

### Find all numbers greater than 100

In [ ]:
def numbersGt100(x):
  return x > 100

list(filter(numbersGt100 ,[12, 23, -55, 380, 98, 27, 123, 12]))

[380, 123]

In [ ]:
from functools import reduce
fact = reduce(lambda x,y : x*y ,range(1,6))

120

In [ ]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

# File Handling

1. Opening a file : open(filename[,accessMode][,buffering])
2. Closing a file : close()

## Access modes
1. r (Read) [default]
2. w (Write)
3. a (Append)
4. rb (Read in binary)
5. wb
6. ab
7. r+ (Opens a file for both reading & writing. Fp will be at the begining)
8. w+ (Opens a file for both reading & writing. If file exists will be overwritten, otherwise open will create a new file and fp will be at the beginning)
9. a+ (...Do... end)
10. rb+
11. wb+
12. ab+

## buffering
0 (Default)  - No buffering
1 - Line buffering

In [ ]:
import os
#os.chdir(r"/Users/sauravbhattacharyya/Desktop/FileHandling/barackobama")

fp = open('./barackobama/obama.txt', 'r+')

x = 1

print(f"Closed? {fp.closed}")
print(f"Mode: {fp.mode}")
print(f"Name: {fp.name}")

print(fp.read())


fp.close()
print(f"Closed? {fp.closed}")

In [ ]:
with open('./barackobama/obama.txt') as fp:
	print(fp.read(15))

print(fp.closed)

1. read(characters)
2. write(characters)
3. tell()
4. seek(offset, from) : Seeks to the location specified in the offset.
from 
0 - Beginning of the file (OK)
1 - From the current position (?)
2 - From the end of the file (?)

In [ ]:
import os
#os.chdir(r"/Users/sauravbhattacharyya/Desktop/FileHandling/barackobama")

'''
# Method 1
fp = open('fn.txt')
fp.read()
fp.close()
'''

#Method2
with open('./barackobama/obama.txt') as fp:
	cnt = 1
	for line in fp.readlines():
		print(f"{cnt} : {line}")
		cnt = cnt + 1

In [ ]:
with open('/content/file.txt') as fp:
  print(fp.read(1))

# fp.read(1)

T

In [ ]:
with open('./FileHandling/morningwish.txt', 'w') as fp:
  fp.write("Good morning friends!")

In [ ]:
import os
os.chdir("/content")
print(f"Know current directory : {os.getcwd()}")
print(f"List of all contents in current directory : {os.listdir('.')}")
print(f"Know current directory : {os.getcwd()}")
os.chdir("./sample_data")
print(f"Know current directory : {os.getcwd()}")
# os.mkdir("subdir")

Know current directory : /content
List of all contents in current directory : ['.config', '.ipynb_checkpoints', 'sample_data', 'FileHandling', 'file.txt', 'dummy']
Know current directory : /content
Know current directory : /content/sample_data

In [ ]:
import os
with os.scandir('/content') as item:
  for i in item:
    print(i.name)

.config
.ipynb_checkpoints
sample_data
FileHandling
file.txt

In [ ]:
for item in os.listdir('/content'):
  if os.path.isdir(os.path.join('/content',item)):
    print(item)

.config
.ipynb_checkpoints
sample_data
FileHandling

In [ ]:
os.rmdir("/content/FileHandling")

OSError: ignored

In [ ]:
l = [1,2,3]
l[3]

IndexError: ignored

# Exception Handling

In [ ]:
a = 1
b = 0
a/b

ZeroDivisionError: ignored

In [ ]:
l = [1,2,3]
l[3]

IndexError: ignored

In [ ]:
x = input("Enter a number:")
print(int(x))

Enter a number:1o1

ValueError: ignored

In [ ]:
import sys

l = ['e', 0, 2, 'apple', True, 0.25]

for item in l:
  try:
    r = 1/item
    print(f"Reciprocal of {item} is {r}")
    print(l[6])
  except ZeroDivisionError:
    print(f"Attempt to divide by 0 ")
  except TypeError:
    print(f"Ran into type error")
  except Exception as e:
    print(f"Ran into some kind of exception : {e.__class__}")
  else:
    print("Enjoy the correct execution & move on")
  finally:
    print("Keep up the spirit")
    print()

Ran into type error
Keep up the spirit

Attempt to divide by 0
Keep up the spirit

Reciprocal of 2 is 0.5
Ran into some kind of exception : <class 'IndexError'>
Keep up the spirit

Ran into type error
Keep up the spirit

Reciprocal of True is 1.0
Ran into some kind of exception : <class 'IndexError'>
Keep up the spirit

Reciprocal of 0.25 is 4.0
Ran into some kind of exception : <class 'IndexError'>
Keep up the spirit

In [ ]:
try:
  a = int(input("Enter a positive number:"))
  if a<= 0:
    raise ValueError("The code only expects positive numbers.")
except ValueError as e:
  print(e)
else:
  b = a + 1
  print(f"{b}")

Enter a positive number:0
The code only expects positive numbers.

In [ ]:
try:
  n = int(input("Enter a number : "))
  assert n%2 == 0, "This is a odd number, hence raising exception"
except Exception as e:
  print(f"Pls enter only an even number. {e.__class__}")
else:
  print(f"Reciprocal is {1/n}")

Enter a number : 8
Reciprocal is 0.125

In [ ]:
try:
  n = int(input("Enter a number : "))
  assert n%2 == 0, "This is a odd number, hence raising exception"
except Exception as e:
  print(f"Pls enter only an even number. \n {e.__class__} : {e}")
else:
  print(f"Reciprocal is {1/n}")

Enter a number : 3
Pls enter only an even number.
 <class 'AssertionError'> : This is a odd number, hence raising exception

In [ ]:
n = 40
assert n < 40, "The number should be less than 40"

AssertionError: ignored

In [ ]:
def aFunction(a):
	try:
		try:
			if a < 4:
				b = a/(a-3)
		except ZeroDivisionError as e:
			print(f"Ran into an inner exception {e.__class__} Msg : {e}")
		else:
			print(b)
			if b >0:
				raise ValueError("b should not be more than 0")
	except UnboundLocalError as e:
		print(f"Ran into an outer exception {e.__class__} Msg : {e}")



try:
	aFunction(2)
	aFunction(3)
	aFunction(5)
	aFunction(6)
except Exception as e:
	print(f"Exception rcvd in main block : {e.__class__} Msg : {e}")

## Popular Exception Classes#

1. ZeroDivisionError
2. IndexError
3. ValueError
4. OverflowError
5. AssertionError
6. EOFError
7. ImportError
8. NameError
9. UnboundLocalError
10. IOError
11. OSError
12. ValueError
13. OutOfMemoryError (?)
14. RuntimeError

# Object Oriented Programming

In [ ]:
x = 100
type(x)

int

In [ ]:
y = 1.2
type(y)

float

In [ ]:
def f(x):
  return x + 1

type(f)

function

In [ ]:
import math
type(math)

module

In [ ]:
e = [4, 8, 16, "thirty two"]
type(e[3])

str

In [ ]:
class Robot:
  pass

if __name__ == '__main__':
  x = Robot()
  y = Robot()
  y2 = y

  print(x==y)
  print(y==y2)

False
True

In [ ]:
class Robot:
  pass

if __name__ == '__main__':
  x = Robot()
  y = Robot()
  y2 = y
  
  x.name = "Marvin"
  x.build_year = 1979
  
  y.name = "Caliban"
  y.build_year = 1993
  y.developed_in = "USA"

  print(x.name)
  print(y.name)
  print(y2.name)

Marvin
Caliban
Caliban

In [ ]:
x.__dict__

{'build_year': 1979, 'name': 'Marvin'}

In [ ]:
y.__dict__

{'build_year': 1993, 'developed_in': 'USA', 'name': 'Caliban'}

In [ ]:
y2.__dict__

{'build_year': 1993, 'developed_in': 'USA', 'name': 'Caliban'}

In [ ]:
class Robot(object):
  pass

In [ ]:
x = Robot()
Robot.brand = "Kuka"

print(x.brand)

Kuka

In [ ]:
class Robot(object):
  pass

x = Robot()
Robot.brand = "Kuka"
x.brand = 'Thales'

print(Robot.brand)
print(x.brand)

y = Robot()
print(y.brand)

Robot.brand = "Thales"
print(y.brand)

Kuka
Thales
Kuka
Thales

In [ ]:
x.__dict__

{'brand': 'Thales'}

In [ ]:
y.__dict__

{}

In [ ]:
Robot.__dict__

mappingproxy({'__dict__': <attribute '__dict__' of 'Robot' objects>,
              '__doc__': None,
              '__module__': '__main__',
              '__weakref__': <attribute '__weakref__' of 'Robot' objects>,
              'brand': 'Thales'})

In [ ]:
x.energy

AttributeError: ignored

In [ ]:
getattr(x,'brand','This attr is not defined yet')

'Thales'

In [ ]:
getattr(x,'energy','This attr is not defined yet')

'This attr is not defined yet'

In [ ]:
def f(x):
  return 45

f.x = 100
print(f.x)

100

In [ ]:
def f(x):
  f.counter = getattr(f,"counter",0) + 1

for i in range(10):
  f(i)

print(f.counter)

3

In [ ]:
def hi(p):
  print(f"Hi, I am {p.name} !")

class Robot:
  pass

x = Robot()
x.name = "Marvin"
hi(x)

Hi, I am Marvin !

In [ ]:
def hi(p):
  print(f"Hi, I am {p.name} !")

class Robot:
  say_hi = hi

x = Robot()
x.name = "Marvin"
Robot.say_hi(x) # => Robot.hi(x)

Hi, I am Marvin !

In [ ]:
b = 1000
a = b # b is being assigned to a 
a

1000

In [ ]:
class A:
  def __init__(self):
    print("__init__ has been executed")

x = A()

__init__ has been executed

In [ ]:
class Robot:
  def __init__(self, beautifulName = None):   # Constructor
    self.name = beautifulName
  
  def say_hi(self):
    if self.name:
      print(f"Hi, I am {self.name}")
    else:
      print("I am anonymous")


x = Robot()
x.say_hi()

y = Robot("Galvin")
y.say_hi()

I am anonymous
Hi, I am Galvin

In [ ]:
x.__dict__

{'name': None}

In [ ]:
y.__dict__

{'name': 'Galvin'}

## Data Abstraction, Data Encapsulation & Information Hiding 
1. Encapsulation
2. Polymorphism
3. Abstraction

In [ ]:
class Robot:
  def __init__(self, nomre = None):   # Constructor
    self.nomre = nomre
  
  def say_hi(self):
    if self.nomre:
      print(f"Hi, I am {self.nomre}")
    else:
      print("I am anonymous")

  def set_name(self, name):    # Accessor & Mutator : Setter & Getter
    self.nomre = name

  def get_name(self):
    return self.nomre


x = Robot()
print(x.__dict__)
x.set_name("Henry")
print(x.__dict__)
x.say_hi()


y = Robot()
y.set_name(x.get_name())
print(f"y : {y.get_name()}")

{'nomre': None}
{'nomre': 'Henry'}
Hi, I am Henry
y : Henry

In [ ]:
class Robot:
	def __init__(self, name, build_year):
		self.__name = name
		self.__build_year = build_year

	def setName(self, name):
		self.__name = name

	def getName(self):
		return self.__name

x = Robot("Isaac", 2001)
#x.__name  # Error
x.setName("Newton")
print(x.getName())
print(x.__dict__)

Newton
{'_Robot__name': 'Newton', '_Robot__build_year': 2001}

In [ ]:
class Robot:
  def __init__(self, nomre = None, build_year = None):   # Constructor
    self.nomre = nomre
    self.build_year = build_year
  
  def say_hi(self):
    if self.nomre:
      print(f"Hi, I am {self.nomre}")
    else:
      print("I am anonymous")

    if self.build_year:
    	print(f"Hey I was manufactured in {self.build_year}")
    else:
    	print("My mfg date is unknown")

  def set_name(self, name):    # Accessor & Mutator : Setter & Getter
    self.nomre = name
  def get_name(self):
    return self.nomre

  def setYear(self, year):
  	self.build_year = year 
  def getYear(self):
  	return self.build_year


x = Robot("Henry", 2008)
x.say_hi()

y = Robot()
y.set_name("Asimov")
y.setYear(2014)
y.say_hi()

## __str__ vs __repr__

In [ ]:
l = ["C", "C++", "Java", "PERL"]
print(l)

['C', 'C++', 'Java', 'PERL']

In [ ]:
str(l)

"['C', 'C++', 'Java', 'PERL']"

In [ ]:
repr(l)

"['C', 'C++', 'Java', 'PERL']"

In [ ]:
class A:
  pass

a = A()
print(a)

<__main__.A object at 0x7f84f0272050>

In [ ]:
print(repr(a))

<__main__.A object at 0x7f84f0272050>

In [ ]:
print(str(a))

<__main__.A object at 0x7f84f0272050>

In [ ]:
a

In [ ]:
class A:
  def __str__(self):
    return "7"

a = A()
print(repr(a))

<__main__.A object at 0x7f84f0272fd0>

In [ ]:
print(str(a))

7

In [ ]:
class Rectangle:
	def __init__(self, length = 1, breadth = 1):
		self.len = length
		self.bre = breadth 

	def area(self):
		return self.len * self.bre

	def perimeter(self):
		return 2 * (self.len + self.bre)

	def __str__(self):
		return f"Rectangle of dimension {self.len} * {self.bre}"

r1 = Rectangle(12,5)
print(r1.area())
print(r1.perimeter())

print(repr(r1))
print(str(r1))
print(r1)

60
34
<__main__.Rectangle object at 0x7f84f02f2b50>
Rectangle of dimension 12 * 5
Rectangle of dimension 12 * 5

### Public vs Protected vs Private

1. Public (name) : These attributes can be freely used inside or outside a class definition
2. Protected (_name) : These variables should not be used outside the class definition unless used inside a subclass.
3. Private (__name) : These kind of attributes is inaccessible outside the class and is invisible (i.e. we cant read or write to these variables)

In [ ]:
class A():
  def __init__(self):
    self.__priv = "This is a pvt variable"
    self._prot = "This is a protected variable"
    self.pub = "This is a public variable"

In [ ]:
# attributes.py
class A():
  def __init__(self):
    self.__priv = "This is a pvt variable"
    self._prot = "This is a protected variable"
    self.pub = "This is a public variable"

In [ ]:
from attributes import A
x = A()
print(x.pub)
print(x._prot)
x.pub = x.pub + " and the value can be changes as well"
print(x.pub)
x._prot = x._prot + "!"
print(x._prot)
# print(x.__priv)

# DATA ANALYTICS

## Pandas

In [ ]:
# Loading the pandas library
import pandas as pd # pip3 install pandas

# Changing display options
pd.set_option('display.max_rows',10)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width',1000)

# Read the csv file and load into a dataframe | Detect character set : ccharset
df = pd.read_csv("nba.csv",chunksize=1000000)

df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Visualise the top n & bottom n

In [ ]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
df.head(8)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

In [ ]:
df_bottom = df.tail()
type(df_bottom)
df_bottom

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Basic info about the dataframe

In [ ]:
df.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=458, step=1)

In [ ]:
df.size

4122

In [ ]:
df.shape

(458, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [ ]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [ ]:
pd.set_option('display.max_rows',40)
df.describe(percentiles=[0.2,0.4,0.6,0.8], include=['int','float','object'])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
count,457,457,457.000000,457,457.000000,457,457.000000,373,4.460000e+02
unique,457,30,NaN,5,NaN,18,NaN,118,NaN
top,Kirk Hinrich,New Orleans Pelicans,NaN,SG,NaN,6-9,NaN,Kentucky,NaN
freq,1,19,NaN,102,NaN,59,NaN,22,NaN
mean,NaN,NaN,17.678337,NaN,26.938731,NaN,221.522976,NaN,4.842684e+06
std,NaN,NaN,15.966090,NaN,4.404016,NaN,26.368343,NaN,5.229238e+06
min,NaN,NaN,0.000000,NaN,19.000000,NaN,161.000000,NaN,3.088800e+04
20%,NaN,NaN,4.000000,NaN,23.000000,NaN,195.600000,NaN,9.472760e+05
40%,NaN,NaN,10.000000,NaN,25.000000,NaN,213.400000,NaN,1.938840e+06
50%,NaN,NaN,13.000000,NaN,26.000000,NaN,220.000000,NaN,2.839073e+06
60%,NaN,NaN,18.600000,NaN,27.000000,NaN,230.000000,NaN,3.815000e+06
80%,NaN,NaN,30.000000,NaN,30.000000,NaN,245.000000,NaN,8.042895e+06
max,NaN,NaN,99.000000,NaN,40.000000,NaN,307.000000,NaN,2.500000e+07

In [ ]:
df['College'].describe()

count          364
unique         115
top       Kentucky
freq            22
Name: College, dtype: object

## Data cleansing

In [ ]:
df.shape

(458, 9)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.shape

(364, 9)

In [ ]:
pd.set_option('display.max_rows',40)
df.describe(percentiles=[0.2,0.4,0.6,0.8], include=['int','float','object'])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
count,364,364,364.000000,364,364.000000,364,364.000000,364,3.640000e+02
unique,364,30,NaN,5,NaN,17,NaN,115,NaN
top,Jordan Hill,New Orleans Pelicans,NaN,SG,NaN,6-9,NaN,Kentucky,NaN
freq,1,16,NaN,87,NaN,49,NaN,22,NaN
mean,NaN,NaN,16.829670,NaN,26.615385,NaN,219.785714,NaN,4.620311e+06
std,NaN,NaN,14.994162,NaN,4.233591,NaN,24.793099,NaN,5.119716e+06
min,NaN,NaN,0.000000,NaN,19.000000,NaN,161.000000,NaN,5.572200e+04
20%,NaN,NaN,4.000000,NaN,23.000000,NaN,195.000000,NaN,9.472760e+05
40%,NaN,NaN,9.000000,NaN,25.000000,NaN,212.000000,NaN,1.638754e+06
50%,NaN,NaN,12.000000,NaN,26.000000,NaN,220.000000,NaN,2.515440e+06
60%,NaN,NaN,17.000000,NaN,27.000000,NaN,228.000000,NaN,3.429934e+06
80%,NaN,NaN,30.000000,NaN,30.000000,NaN,242.400000,NaN,7.838202e+06
max,NaN,NaN,99.000000,NaN,40.000000,NaN,279.000000,NaN,2.287500e+07

## Extracting a Series from a dataframe

In [ ]:
name = df['Name']
name.head(n=3)

0    Avery Bradley
1      Jae Crowder
2     John Holland
Name: Name, dtype: object

## Row & Column selection

In [ ]:
data = {
    'Name' : ['Saurav', 'Gaurav', 'Sanchayan', 'Sudipta', 'Ankan'],
    'Age' : [25, 26, 31, 28, 39],
    'Address' : ['Kolkata', 'Goa', 'Pune', 'Pune', 'Kolkata'],
    'Qualification' : ['BE', 'ME', 'BStat', 'BE','MSc']
}

df = pd.DataFrame(data)
df

        Name  Age  Address Qualification
0     Saurav   25  Kolkata            BE
1     Gaurav   26      Goa            ME
2  Sanchayan   31     Pune         BStat
3    Sudipta   28     Pune            BE
4      Ankan   39  Kolkata           MSc

In [ ]:
df['Name']

0       Saurav
1       Gaurav
2    Sanchayan
3      Sudipta
4        Ankan
Name: Name, dtype: object

In [ ]:
df[['Name', 'Age']]

        Name  Age
0     Saurav   25
1     Gaurav   26
2  Sanchayan   31
3    Sudipta   28
4      Ankan   39

In [ ]:
df.loc[1]

Name             Gaurav
Age                  26
Address             Goa
Qualification        ME
Name: 1, dtype: object

In [ ]:
df2

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df2 = pd.read_csv("nba.csv", index_col = "Name")
df2.loc[['John Holland','Avery Bradley']]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0

In [ ]:
df2.head(10)
df2.loc["Jae Crowder" : "R.J. Hunter"]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0

In [ ]:
df2.head()

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [ ]:
df2.iloc[2]

Team           Boston Celtics
Number                     30
Position                   SG
Age                        27
Height                    6-5
Weight                    205
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

In [ ]:
df

        Name  Age  Address Qualification
0     Saurav   25  Kolkata            BE
1     Gaurav   26      Goa            ME
2  Sanchayan   31     Pune         BStat
3    Sudipta   28     Pune            BE
4      Ankan   39  Kolkata           MSc

In [ ]:
data1 = df.iloc[2]
data2 = df.loc[2]
data1 == data2

Name             True
Age              True
Address          True
Qualification    True
Name: 2, dtype: bool

In [ ]:
pd.set_option('display.width',1000)
newdf = pd.read_csv('nba.csv')
print(newdf.head())
print()
newdf.dropna(inplace=True)
print(newdf.head())

            Name            Team  Number Position   Age Height  Weight            College     Salary
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0              Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0          Marquette  6796117.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0  Boston University        NaN
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0      Georgia State  1148640.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0                NaN  5000000.0

            Name            Team  Number Position   Age Height  Weight        College     Salary
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0          Texas  7730337.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0      Marquette  6796117.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0  Georgia State  1148640.0
6  Jordan Mickey  Boston Celtics    55.0       PF  21.0    6-8   235.0            LSU  1170960.0
7   Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0        Gonzaga  2165160.0

In [ ]:
newdf.loc[3]

Name           R.J. Hunter
Team        Boston Celtics
Number                  28
Position                SG
Age                     22
Height                 6-5
Weight                 185
College      Georgia State
Salary         1.14864e+06
Name: 3, dtype: object

In [ ]:
newdf.iloc[1:3]

          Name            Team  Number Position   Age Height  Weight        College     Salary
1  Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0      Marquette  6796117.0
3  R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0  Georgia State  1148640.0

In [ ]:
newdf.iloc[[1,2,4]]

           Name            Team  Number Position   Age Height  Weight        College     Salary
1   Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0      Marquette  6796117.0
3   R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0  Georgia State  1148640.0
7  Kelly Olynyk  Boston Celtics    41.0        C  25.0    7-0   238.0        Gonzaga  2165160.0

In [ ]:
newdf
newdf.loc[[3,452],["Name", "Team", "Age", "College"]]

            Name            Team   Age        College
3    R.J. Hunter  Boston Celtics  22.0  Georgia State
452   Trey Lyles       Utah Jazz  20.0       Kentucky

In [ ]:
df2
df2.loc[["R.J. Hunter", "Raul Neto"],[ "Team", "Age", "College"]]

                       Team   Age        College
Name
R.J. Hunter  Boston Celtics  22.0  Georgia State
Raul Neto         Utah Jazz  24.0            NaN

In [ ]:
df2.loc[:,[ "Team", "Age", "College"]]

                         Team   Age            College
Name
Avery Bradley  Boston Celtics  25.0              Texas
Jae Crowder    Boston Celtics  25.0          Marquette
John Holland   Boston Celtics  27.0  Boston University
R.J. Hunter    Boston Celtics  22.0      Georgia State
Jonas Jerebko  Boston Celtics  29.0                NaN
...                       ...   ...                ...
Shelvin Mack        Utah Jazz  26.0             Butler
Raul Neto           Utah Jazz  24.0                NaN
Tibor Pleiss        Utah Jazz  26.0                NaN
Jeff Withey         Utah Jazz  26.0             Kansas
NaN                       NaN   NaN                NaN

[458 rows x 3 columns]

In [ ]:
newdf.iloc[[1,3],[0,1,2]]

            Name            Team  Number
1    Jae Crowder  Boston Celtics    99.0
6  Jordan Mickey  Boston Celtics    55.0

In [ ]:
newdf.iloc[:,0:2]

              Name            Team
0    Avery Bradley  Boston Celtics
1      Jae Crowder  Boston Celtics
3      R.J. Hunter  Boston Celtics
6    Jordan Mickey  Boston Celtics
7     Kelly Olynyk  Boston Celtics
..             ...             ...
449    Rodney Hood       Utah Jazz
451  Chris Johnson       Utah Jazz
452     Trey Lyles       Utah Jazz
453   Shelvin Mack       Utah Jazz
456    Jeff Withey       Utah Jazz

[364 rows x 2 columns]

### Row selection with non-primary key

In [ ]:
df3 = pd.read_csv('nba.csv',index_col = 'Team')
df3.loc['Utah Jazz']

,Name,Number,Position,Age,Height,Weight,College,Salary
Team,,,,,,,,
Utah Jazz,Trevor Booker,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
Utah Jazz,Trey Burke,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
Utah Jazz,Alec Burks,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
Utah Jazz,Dante Exum,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
Utah Jazz,Derrick Favors,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
Utah Jazz,Rudy Gobert,27.0,C,23.0,7-1,245.0,NaN,1175880.0
Utah Jazz,Gordon Hayward,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
Utah Jazz,Rodney Hood,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
Utah Jazz,Joe Ingles,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
Utah Jazz,Chris Johnson,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
Utah Jazz,Trey Lyles,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
Utah Jazz,Shelvin Mack,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Utah Jazz,Raul Neto,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Utah Jazz,Tibor Pleiss,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Utah Jazz,Jeff Withey,24.0,C,26.0,7-0,231.0,Kansas,947276.0

## Rows & Columns addition

In [ ]:
hobby = ['Philately', 'Music', 'Magic','Painting', 'Gardening']
df['Passion'] = hobby
df

        Name  Age  Address Qualification    Passion
0     Saurav   25  Kolkata            BE  Philately
1     Gaurav   26      Goa            ME      Music
2  Sanchayan   31     Pune         BStat      Magic
3    Sudipta   28     Pune            BE   Painting
4      Ankan   39  Kolkata           MSc  Gardening

In [ ]:
new_record = pd.DataFrame({'Name':'Soumik', 'Age' : 29, 'Address' : 'Pune', 'Qualification' : 'MStat'}, index=[0])
new_record

     Name  Age Address Qualification
0  Soumik   29    Pune         MStat

In [ ]:
pd.concat([df,new_record])

        Name  Age  Address Qualification
0     Saurav   25  Kolkata            BE
1     Gaurav   26      Goa            ME
2  Sanchayan   31     Pune         BStat
3    Sudipta   28     Pune            BE
4      Ankan   39  Kolkata           MSc
0     Soumik   29     Pune         MStat

## Deleting rows and columns

In [ ]:
df.drop(['Passion', 'Age'], axis = 1, inplace=True)

In [ ]:
df2.drop(["Jae Crowder"], inplace=True)

In [ ]:
df2

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
...,...,...,...,...,...,...,...,...
Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Filtering

In [ ]:
data = {
    'Name' : ['Saurav', 'Gaurav', 'Sanchayan', 'Sudipta', 'Ankan'],
    'Age' : [25, 26, 31, 28, 39],
    'Address' : ['Kolkata', 'Goa', 'Pune', 'Pune', 'Kolkata'],
    'Qualification' : ['BE', 'ME', 'BStat', 'BE','MSc']
}

df = pd.DataFrame(data)
df

        Name  Age  Address Qualification
0     Saurav   25  Kolkata            BE
1     Gaurav   26      Goa            ME
2  Sanchayan   31     Pune         BStat
3    Sudipta   28     Pune            BE
4      Ankan   39  Kolkata           MSc

In [ ]:
df['Qualification']=='BE'

0     True
1    False
2    False
3     True
4    False
Name: Qualification, dtype: bool

In [ ]:
df[df['Qualification']=='BE']

      Name  Age  Address Qualification
0   Saurav   25  Kolkata            BE
3  Sudipta   28     Pune            BE

In [ ]:
df[df['Age']<30]

      Name  Age  Address Qualification
0   Saurav   25  Kolkata            BE
1   Gaurav   26      Goa            ME
3  Sudipta   28     Pune            BE

## Grouping

In [ ]:
'''
Dept wise total salary

select department,designation, sum(salary)
from department_table
where salary > 50000
group by department,designation
having department in ('Physics', 'Chemistry')
order by department, designation;

Raw data >> Filter(where) >> Aggt (group by) >> Filter (having)
'''
grp = df.groupby('Address')
print(df)
print(df.groupby('Address').groups)

for name, group in grp:
  print(name)
  print(group)
  print()

        Name  Age  Address Qualification
0     Saurav   25  Kolkata            BE
1     Gaurav   26      Goa            ME
2  Sanchayan   31     Pune         BStat
3    Sudipta   28     Pune            BE
4      Ankan   39  Kolkata           MSc
{'Goa': [1], 'Kolkata': [0, 4], 'Pune': [2, 3]}
Goa
     Name  Age Address Qualification
1  Gaurav   26     Goa            ME

Kolkata
     Name  Age  Address Qualification
0  Saurav   25  Kolkata            BE
4   Ankan   39  Kolkata           MSc

Pune
        Name  Age Address Qualification
2  Sanchayan   31    Pune         BStat
3    Sudipta   28    Pune            BE

In [ ]:

print(df)
print(df.groupby(['Address','Qualification']).groups)

        Name  Age  Address Qualification
0     Saurav   25  Kolkata            BE
1     Gaurav   26      Goa            ME
2  Sanchayan   31     Pune         BStat
3    Sudipta   28     Pune            BE
4      Ankan   39  Kolkata           MSc
{('Goa', 'ME'): [1], ('Kolkata', 'BE'): [0], ('Kolkata', 'MSc'): [4], ('Pune', 'BE'): [3], ('Pune', 'BStat'): [2]}

In [ ]:
grp = df.groupby('Address')
grp.first()

              Name  Age Qualification
Address
Goa         Gaurav   26            ME
Kolkata     Saurav   25            BE
Pune     Sanchayan   31         BStat

In [ ]:
df.groupby(['Address']).sum()

         Age
Address
Goa       26
Kolkata   64
Pune      59

In [ ]:
df.groupby(['Address'], sort=False).sum()

         Age
Address
Kolkata   64
Goa       26
Pune      59

In [ ]:
df2.groupby(['Team', 'College']).sum()

                                         Number   Age  Weight      Salary
Team               College
Atlanta Hawks      Bucknell                31.0  24.0   240.0    947276.0
                   Creighton               26.0  35.0   212.0   5746479.0
                   Florida                 15.0  30.0   245.0  12000000.0
                   Kansas                  12.0  35.0   190.0   2854940.0
                   Louisiana Tech           4.0  31.0   246.0  18671659.0
...                                         ...   ...     ...         ...
Washington Wizards LSU                     32.0  59.0   400.0   1301202.0
                   Michigan State           6.0  33.0   220.0   4000000.0
                   Nevada                   7.0  30.0   190.0   2170465.0
                   North Carolina State    21.0  27.0   242.0    273038.0
                   Virginia Tech            8.0  24.0   218.0    561716.0

[336 rows x 4 columns]